In [1]:
import pandas as pd

In [2]:
syllable_structure_df = pd.read_csv(
    "./data/syllable_structure.csv", dtype=str, encoding="utf-8", engine="python"
)
syllable_structure_df.head(5)

  country_code syllable_structure
0          afr      (C)(C)V(C)(C)
1          aka            (C)V(C)
2          als      (C)(C)V(C)(C)
3          amh         (C)V(C)(C)
4          ara         (C)V(C)(C)

In [6]:
syllable_structure_df.syllable_structure.value_counts().to_frame("counts").reset_index()

        syllable_structure  counts
0                  (C)V(C)      75
1            (C)(C)V(C)(C)      46
2               (C)(C)V(C)      31
3               (C)V(C)(C)      17
4      (C)(C)(C)V(C)(C)(C)      13
5         (C)(C)V(C)(C)(C)       3
6         (C)(C)(C)V(C)(C)       2
7               (C)(G)V(N)       2
8   (C)(C)(C)V(C)(C)(C)(C)       1
9                  (C)V(N)       1
10              (C)(G)V(C)       1