In [90]:
import numpy as np
import pandas as pd
from IPython.display import display

In [91]:
uld_topics = pd.read_csv("./data/uld/topics.csv", encoding="utf-8", engine="python")
uld_abbreviations = pd.read_csv(
    "./data/uld/abbreviations.csv", encoding="utf-8", engine="python"
)
uld_word_list = pd.read_csv(
    "./data/uld/word_list.csv", encoding="utf-8", engine="python"
)
uld_word_list.usage = uld_word_list.usage.str.split("/")

display(uld_topics.head(3))
display(uld_abbreviations.head(3))
display(uld_word_list.head(3))

   id           topic idx_from idx_to
0   1     adpositions      001    020
1   2  function words      021    03E
2   3          people      03F    05C

  abbreviation description
0          adj   adjective
1          aux   auxiliary
2          adv      adverb

   idx                                word   usage
0  001                               about  [prep]
1  002                                over  [prep]
2  003  across (at / to the other side of)  [prep]

In [92]:
def get_topic(idx):
    topics = uld_topics[
        (idx >= uld_topics.idx_from.apply(int, base=16))
        & (idx <= uld_topics.idx_to.apply(int, base=16))
    ].rename(columns={"id": "topic_id"})
    return topics.iloc[0][["topic", "topic_id"]]


topics = uld_word_list.apply(lambda row: get_topic(int(row.idx, base=16)), axis=1)
uld_word_list = uld_word_list.join(topics)
uld_word_list

,idx,word,usage,topic,topic_id
0,001,about,[prep],adpositions,1
1,002,over,[prep],adpositions,1
2,003,across (at / to the other side of),[prep],adpositions,1
3,004,after (in the future of),[prep],adpositions,1
4,006,at,[prep],adpositions,1
...,...,...,...,...,...
599,62A,right (a right to do/be...),[n],assorted abstract concepts,38
600,62F,system,[n],assorted abstract concepts,38
601,633,attempt,"[v, vn]",assorted abstract concepts,38
602,63A,science,[n],assorted abstract concepts,38
603,63E,support,"[v, vn]",assorted abstract concepts,38

In [93]:
for col in uld_abbreviations.abbreviation:
    uld_word_list[col] = uld_word_list.apply(
        lambda row: int(col in row.usage), axis=1
    )

uld_word_list.head(5)

,idx,word,usage,topic,topic_id,adj,aux,adv,conj,int,...,pfx,pron,prep,pres,rel,sfx,v,vn,vi,vt
0,001,about,[prep],adpositions,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,002,over,[prep],adpositions,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,003,across (at / to the other side of),[prep],adpositions,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,004,after (in the future of),[prep],adpositions,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,006,at,[prep],adpositions,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [94]:
uld_word_list.drop(columns=["usage"]).to_csv("./data/uld/annotated_word_list.csv")